<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="list-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"
        >Employees List</a
      >
    </li>
    <li class="list-item">
      <a
        routerLink="create-employees"
        routerLinkActive="active"
        class="nav-link"
        >Add New Employee</a
      >
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div class="container">
  <app-employee-list></app-employee-list>
</div>

<div class="container">
  <app-create-employee></app-create-employee>
</div> -->

<footer class="footer">
  <p>All rights reverved 2023 @yugeshakuri</p>
</footer>
